<section class="about-us py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h2 class="mb-4">About TrendyKart</h2>
          <p>TrendyKart is an e-commerce platform that brings you the latest fashion trends and high-quality products at affordable prices. Founded in 2024, our mission is to empower individuals to express their unique style and discover the best shopping experience online.</p>
          <p>With a wide range of categories, including clothing, accessories, beauty, and home decor, we strive to cater to the diverse needs and preferences of our customers. Our team of passionate fashion enthusiasts and e-commerce experts work tirelessly to curate a selection of products that are not only stylish but also durable and sustainable.</p>
          
        </div>
        <div class="col-lg-6">
          <img width="450px" height="300px"  src="https://png.pngtree.com/background/20231030/original/pngtree-e-commerce-shopping-cart-with-abstract-glowing-interface-on-blue-background-picture-image_5788851.jpg" alt="TrendyKart" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </section>